.main {
        display: flex;
        flex-direction: column;
        border-color: black;
        border-style: groove;
        height: 93vh;
}

.row1 {
        display: flex;
        flex-direction: row;
        justify-content: start;
        background-color: darkgray;
        height: 3vh;
        padding: auto;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-color: black;
        border-style: groove;
        border-top: none;
        border-left: none;
        border-right: none;
}

.row1>div {
        padding-right: 10px;
    }

.row2 {
        display: flex;
        flex-direction: row;
        background-color: darkgray;
        height: 4vh;
        padding-top: 10px;
        border-color: black;
        border-style: groove;
        border-top: none;
        border-left: none;
        border-right: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search {
        background-image: url("public/search.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 15px;
}

    .plus {
        background-image: url("public/plus.png");
        background-position: left;
        background-repeat: no-repeat;
        background-size: 15px;
        text-align: center;
    }

    .equal {
        padding-left: 7px;
    }

    .equals {
        padding-left: 20px;
    }

    .col {
        display: flex;
        flex-direction: row;
    }

    .row3 {
        border-color: black;
        border-style: groove;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 80vh;
        display: flex;
        flex-direction: row;
    }

    .one {
        display: flex;
        flex-direction: column;
        width: 6vw;
        border-color: black;
        border-style: groove;
        border-top: none;
        border-left: none;
        border-bottom: none;
        background-color: lightslategrey;
        padding-left: 1vw;
        padding-top: 1vw;
    }

    .two {
        display: flex;
        flex-direction: column;
        width: 90vw;
        height: 20vh;
        padding-top: 10vh;
        padding-left: 2vw;
    }

    .ek {
        display: flex;
        flex-direction: row;
    }

    .cc {
        width: 90%;
        color: darkslategray;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 4vh;
    }

    .mc {
        display: flex;
        flex-direction: row;
        padding-bottom: 1vw;
    }

    .bb {
        display: flex;
        flex-direction: column;
        width: 15vw;
    }

    .line {
        border-width: 1px;
        border-radius: 1px;
        border-color: dimgrey;
        border-style: solid;
        width: 85vw;
    }

    .creative {
        display: flex;
        flex-direction: row;
    }

    .creat1 {
        padding-top: 2vw;
        width: 50%;
        color: dimgrey;
        display: flex;
        flex-direction: row;
    }

    .creat2 {
        padding-top: 2vw;
        ;
    }

    .space {
        padding-left: 13vw;

    }

    .spacing {
        padding-right: 1vw;
        ;
    }

    .cr {
        padding-top: 1vh;
    }

    .line2 {
        border-width: 1px;
        border-radius: 1px;
        border-color: dimgrey;
        border-style: dotted;
        width: 85vw;
    }

    .pad {
        padding-top: 2vw;
    }

    .row4 {
        display: flex;
        flex-direction: row;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 5vh;
    }

    .progress-bar {
        width: 15%;
        background-color:lightblue;
        padding: 1px;
        border-radius: 1px;
        height: 2vh;
    }

    .progress-bar-fill {
        display: block;
        height: 11px;
        padding-top: 4px;
        background-color:dimgrey;
        border-radius: 3px;
    }

    .borderfil{
        padding-left:1vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .gb{
        padding-left: 67vw;
    }
    body{
        height: 93vh;
    }
